* {
	margin: 	0;
	padding: 	0;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

body {
	max-width: 1600px;
	color:#000!important;
	background-color:#f1f1f1!important;
	margin-left:auto;margin-right:auto;
}

.gm-sidebar{
	height:100%;
	width:200px;
	background-color:#fff;
	position:fixed!important;
	z-index:1;
	overflow:auto;
}

.wrapper {
	width: 100%;
}

.img-logo {
	display: 	none;
	width: 		600px;
	height: 	600px;
	margin: 	0 auto;

}

.img-info {
	width: 			100%;
	padding-bottom: 30px;
}

.img-info h2 {
	padding: 		30px 30px 20x;
	font-size: 		50px;
	color:			#111;
	line-height: 	44px;
}


.img-info p {
	padding: 		0px 30px 20x;
	font-size: 		16px;
	color: 			#111;
	line-height:	24px;
}

.img-teste {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.img-logo {
		display: block;
	}
	.wrapper {
		width: 	600px;
		margin: 0 auto;
	}
	.img-info h2 {
		padding: 20px 0px 0x;
	}


	.img-info p {
		padding: 20px 0px 0x;
	}

	.img-teste {
		padding-top: 30px;
	}

}

@media only screen and (min-width: 1000px) {
	.wrapper{
		width: 1000px;
	}
	.img-info {
		width: 50%;
		float: right;
	}
	.img-info h2{
		padding: 20px 0px 0px 30px;
	}
	.img-info p{
		padding: 20px 0px 0px 30px;
	}

	.img-teste {
		padding-top: 	0px;
		width: 			50%;
		float: 			left;
	}
}